@{
  ViewData["Title"] = "About Me";

  // Define variables for name and student number
  var name = "Brendan Dasilva";
  var studentNumber = 101447806;
  var courseCode = "COMP2139 - W2024";
  var crn = 50272;
}

<!DOCTYPE html>
<html>
<head>
  <title>@ViewData["Title"]</title>
</head>
<body>
  <h1>About Me</h1>
  <p>Name: @name</p>
  <p>Student Number: @studentNumber</p>
  <p>Course Code: @courseCode</p>
  <p>CRN: @crn</p>
</body>
</html>
